<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Card</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/profile-styles.css">
</head>

<body>
    <div class="sidebar">
        <ul>
            <li><a href="#">Home </a> </li>
            <li><a href="#">About </a> </li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="card-container">
        <div class="card-top-navigation">
            <li>
                <i class="fa-solid fa-arrow-left"></i>
            </li>
            <ul>
                <i id="heart" class="fa-regular fa-heart"></i>
                <i id="menu-toggle" class="fa-solid fa-bars"></i>
            </ul>
        </div>
        <div class="user-image">
            <img id="profile-img" src="" alt="User Image">
        </div>
        <h2 class="user-name">User</h2>
        <p class="about-user"></p>
        <button class="edit" onclick="editProfile()">Edit</button>

        <div class="social-container">
            <div class="social-item instagram">
                <i class="fa-brands fa-instagram"></i>

            </div>
            <div class="social-item youtube">
                <i class="fa-brands fa-youtube"></i>

            </div>
            <div class="social-item twitter">
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
    </div>
    <script src="js-scripts/profile-script.js"></script>
</body>
</html>
